# macOS artifacts
.DS_Store

# task artifacts
.task

# environment config
.env

# goreleaser artifacts
dist

# vscode artifacts
.vscode

# videos
*.mp4

# used for testing, not necessary for library
main.go

# binary
blinkgo
